/* Add padding to containers */

.container {
    padding: 16px;
    background-color: white;
}

.container {
    padding: 16px;
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


/* Overwrite default styles of hr */

hr {
    border: 1px solid #f1f1f1;
}


/* Set a style for the submit button */

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 40%;
}

h2 {
    color: white;
}