


/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
/* Full-width input fields */
input[type=text], input[type=password] , textarea ,select {
  width: 25%;
  padding: 10px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
}